.Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container input {
    height: 40px;
    width: 80vw;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0 20px;
    position: fixed;
    z-index: 500;
    border: none;
    top: 40px;
    box-shadow: 0 5px 11px #a7b0b87e;
    outline: none;
    transition: all 0.2s linear;
}

.Container input:focus {
    box-shadow: 0 5px 20px #94a8b97e;
    transition: all 0.2s linear;
}

.Results {
    height: 70vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 20px #a7b0b87e;
    padding: 5px 14px;
    box-sizing: border-box;
    
}

.Results h2{
color: #25519a
}

.ScrollContainer{
    height: 60vh;
    overflow: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
}