.Header {
    height: 63px;
    width: 100vw;
    display: flex;
    background-color: #191d21;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.Header img{
    height: 32px;
    margin-left: 11px;
}

.Header h2{
    color: #fff;
    margin-left: 20px;
    font-size: 19px;
}

.Phone{
    position: fixed;
    z-index: 10;
    top:10px;
    right: 17px;
    border-radius: 50px;
    background-color:#10ce1b;
    padding: 5px;
}