.Container {
    padding: 10px 10px;
    height: 90vh;
    margin-top: 10%;
}

.virusImage {
    position: absolute;
    height: 260px;
    top: 28px;
    right: 10px;
    opacity: 0.1;
    z-index: -1;
}

.Content {
    width: 80vw;
}

.Content h1 {
    font-size: 46px;
    /* letter-spacing: -0.47px; */
    /* font-weight: 600; */
    color: #25519A;
    margin-bottom: 0px;
}
.Content p{
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
}

.Buttons button {
    
    height: 120px;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
    /* border: 1px solid #ccc; */
    background-color: #fff;
    padding: 12px;
    /* border-radius: 50%; */
    /* margin-bottom: 60px; */
    border: 0;
    outline: none;
    /* width: 100vw; */
    /* margin-left: -38px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 46px;
    /* margin-top: 30px; */
    border-radius: 20px;
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    z-index: 20;
    width: 80vw;
}

.MarginTop{
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.Buttons img {
    height: 80px;
    margin-right: 10px;
}

h5 {
    margin-top: 0;
}

.Buttons {
    display: flex;
    flex-direction: column;
}
.Container p{
    color:#6e6e6e;
}

.ORH2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    background-color: none;

    margin-top: 30px;
    margin-bottom: 30px;
 } 
 
 .ORH2 span { 
     background:#fff; 
     padding:0 10px; 
     font-size: 14px;
 }