.Container {
    padding: 10px 10px;
    height: 90vh;
    margin-top: 20%;
}

.virusImage {
    position: absolute;
    height: 300px;
    top: 28px;
    right: 10px;
    opacity: 0.1;
    z-index: 1;
}

.Content {
    width: 80vw;
}

.Content h1 {
    font-size: 46px;
    /* letter-spacing: -0.47px; */
    /* font-weight: 600; */
    color: #25519A;
}

.Buttons button{
    height: 120px;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
    /* border: 1px solid #ccc; */
    background-color: #F5526D;
    padding: 12px;
    /* border-radius: 50%; */
    /* margin-bottom: 60px; */
    border: 0;
    outline: none;
    width: 100vw;
    margin-left: -38px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 50px;
    margin-top: 30px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
z-index: 20;
}
a{
    text-decoration: none;
}


.Buttons img{
    height: 100px;
}
h5{
    margin-top: 0;
}

.Buttons{
    display: flex;
    flex-direction: column;
}