.Container {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: absolute;
    left: 30px; */
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.SectionTitle {
    text-align: left;
    padding-bottom: 20px;
}

.SectionTitle h2 {
    margin-top: 0px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #25519A;
    font-weight: bold;
    font-size: 40px;
}

.SectionTitle p {
    color:#A2A6BB;
    font-size: 15px;
    font-weight: 500;
}

.FormContainer {
    display: flex;
    flex-direction: column;
}

.InputItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.InputItem label {
    color: #25519A;
    font-size: large;
    padding-bottom: 15px;
}

.InputItem input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #bbc3e998;
    background-color: #c9cfee86;
    padding: 5px 12px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.2s linear;
}
.InputItem input:focus{
    border: 1px solid #8d9dee;
    transition: all 0.2s linear;
}

.ButtonContainer {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.ButtonContainer button {
    width: 50%;
    height: 40px;
    background-color: #25519A;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    border-color: #25519A;
    box-shadow: none;
    border-style: none;
    outline: none;
}