.Container {
    height: 100vh;
    width: 100vw;
}

.TopSection {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.BusinessInfo {
    display: flex;
    flex-direction: column;
}

.Rating {
    display: flex;
}

.imageContainer {
    display: flex;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: transparent;
    overflow: hidden;
    
}
.imageContainer div{
    height: 100%;
    background-size: contain;
    background-repeat:no-repeat;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title h1 {
    margin-bottom: 5px;
}

.ButtonsGroup {
    width: 100%;
    display: flex;
    padding: 0 8px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
}

.ButtonsGroup button{
    border-radius: 16px;
    border: 1px solid #ccc;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
}

.RightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
}

.TotalBlock {
    height: 160px;
    border: 1px solid #ccc;
}

.ValueTot {}

.TextTot {}

.ScanQR {
    height: 160px;
    margin-top: 10px;
}

.RateButton {
    height: 75px;
    margin-bottom: 10px;
}

.ReportButton {
    height: 75px;
    margin-bottom: 10px;
}

.ViewButton {
    height: 160px;
}

.Location {
    display: flex;
}

.Location img {
    height: 15px;
    margin-right: 4px;
    margin-left: -4px;
}

