.Container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.LocationInfo {
    display: flex;
    flex-direction: column;
}

.Image{
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    margin-right: 17px;
}